.idea/
.vs/
.vscode/
.builds/
__pycache__/
*.pyc
*.map
*.suo
*.ntvs*
*.njsproj
*.sln
*.egg-info
*.VC.db
*.psess
*.vsp
*.vspx
*.sap
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.o
*.log

dist/
node_modules/
Debug/
DebugPublic/
Release/
x64/
x86/
ipch/

/Vinman/UFACTORY/pyuarm/build
/Vinman/UFACTORY/pyuarm/dist
E:\Vinman\UFACTORY\pyuf\build
E:\Vinman\UFACTORY\pyuf\dist
E:\Vinman\UFACTORY\pyufarm\build
E:\Vinman\UFACTORY\pyufarm\dist
E:\Vinman\UFACTORY\ReleaseTool\build
E:\Vinman\UFACTORY\ReleaseTool\dist
E:\Vinman\UFACTORY\uArmFlashTool\build
E:\Vinman\UFACTORY\uArmFlashTool\dist
E:\Vinman\UFACTORY\uArm-Python-SDK\build
E:\Vinman\UFACTORY\uArm-Python-SDK\dist
E:\Vinman\UFACTORY\uarm-server\build
E:\Vinman\UFACTORY\uarm-server\dist
E:\Vinman\UFACTORY\xArm-Python-SDK\build
E:\Vinman\UFACTORY\xArm-Python-SDK\dist
E:\Vinman\UFACTORY\xarm-server\build
E:\Vinman\UFACTORY\xarm-server\dist
E:\Vinman\UFACTORY\xarm-server\spec\build
E:\Vinman\UFACTORY\xarm-server\spec\dist
E:\Vinman\UFACTORY\xarm-server\xarmstudio
E:\Vinman\UFACTORY\xarm-tool\spec\build
E:\Vinman\UFACTORY\xarm-tool\spec\dist\xarm-tool-gui.exe

E:\Vinman\UFACTORY\uarm-studio\build
E:\Vinman\UFACTORY\uarm-studio\dist
E:\Vinman\UFACTORY\uf-studio\xarmstudio
E:\Vinman\UFACTORY\xarm-studio\build
E:\Vinman\UFACTORY\xarm-studio\dist
